.todo{
    display: grid;
    grid-template-columns: 70% 15% 15%;
    flex-direction: row;
    margin: 10px 0;

}

.input{
    background-color: rgb(255, 255, 255);
    color: #303030;
    border: none;
    outline: none;
}

.input:focus{
    border-bottom: 1px solid #303030;
}


.boton{
    background-color:#303030;
    color:white;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.boton:hover{
    background-color: white;
    color: #303030;
}