.todo{
    display: grid;
    grid-template-columns: 70% 15% 15%;
    flex-direction: row;
    margin: 10px 0;

}

.input2{
    background-color: rgb(255, 255, 255);
    color: #303030;
    height: 40px;
    font-size: 15px;
    border: none;
    outline: none;
}

.input:focus{
    border-bottom: 1px solid #303030;
}
