.fondo-buscar{
    display: flex;
    justify-content: center;
}

.fondo{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #212121;
    border-radius: 4px;
    width: 80%;
}

.Cards{
    position: relative;
    padding: 15px;
    background-color: rgba(243, 243, 243, 0.8);
    border-radius: 4px;
}

.titulo{
    display: inline-flex;
    position: relative;
    font-size: 25px;
    color: white;
}

.agregar{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    background-color: rgb(7, 245, 233);
    font-size: 25px;
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #303030;
    z-index: 1;
    
}