.fondo-buscar{
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo{
    display: flex;
    position: absolute;
    left: 80px; bottom:142px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 710px;
    width: 830px;
    border-radius: 4px;
    margin-top: 8%;
    margin-left: 22%;
}

.Cards{
    display: flex;
    position: relative;
    right: 120px; bottom: 20px;
    height: 400px;
    width: 1060px;
    background-color: rgba(243, 243, 243, 0.8);
    border-radius: 4px;
    margin-top: 8%;
    margin-left: 22%;
}